body{
  background-color: #000000;
  margin: 50px;
  margin: 3em;
}

h1{
  font: 3em 'Libre Franklin', sans-serif;
  color: #ffffff;
}

h2{
  font: 2em 'Libre Franklin', sans-serif;
  color: #ffffff;
  display: inline;
  object-position: top;
}

p{
  font: 1em / 1.5 'Libre Franklin', sans-serif;
  color: #ffffff;
  column-count: 3;
}

ol{
  font: 1em / 1.75 'Libre Franklin', sans-serif;
  color: #ffffff;
  display: inline-block;
}

ul{
  font: 1em / 1.5 'Libre Franklin', sans-serif;
  color: #ffffff;
}

img{
  width: 500px;
}

#Track{
  color: #F5361C
}

#Members{
  color: #007AF5

}

#Review{
  color: #F5D73A
}
