body{
  background-color: #000000;
  margin: 50px;
}

h1{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 40pt;
  color: #ffffff;
}

h2{
  font-family: 'Libre Franklin', sans-serif;
  color: #ffffff;
  display: inline;
  object-position: top;
}

p{
  font-family: 'Libre Franklin', sans-serif;
  color: #ffffff;
  column-count: 3;
}

ol{
  font-family: 'Libre Franklin', sans-serif;
  color: #ffffff;
  display: inline-block;
}

ul{
  font-family: 'Libre Franklin', sans-serif;
  color: #ffffff;
  display: inline-block;
}

img{
  width: 500px;
}
