body{
  background-color: #000000;
  margin: 50px;
}

h1{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 40pt;
  color: #ffffff;
}

h2{
  font-family: 'Libre Franklin', sans-serif;
  color: #ffffff;
}

p{
  color:#ffffff;
  font-family: 'Libre Franklin', sans-serif;
}

ol{
  color:#ffffff;
  font-family: 'Libre Franklin', sans-serif;
}

ul{
  color:#ffffff;
  font-family: 'Libre Franklin', sans-serif;
}
